<div class="row">
  <div class="col-sm-9">
    <form (ngSubmit)="onSubmit(questionForm)" #questionForm="ngForm">
      <div class="form-group">
        <label>Question</label>
        <input class="form-control" required type="text" name="question" ngModel #questionField="ngModel">
        <div *ngIf="questionField.invalid && (questionField.dirty || questionField.touched)" class="alert">
          Question field is required
        </div>
      </div>
      <div class="form-group">
        <label>Answer</label>
        <input class="form-control" required type="text" name="answer" ngModel #answerField="ngModel">
        <div *ngIf="answerField.invalid && (answerField.dirty || answerField.touched)" class="alert">
          Answer field is required
        </div>
      </div>
      <div class="form-group">
        <label>Type (Magic or Muggle)</label>
        <select class="form-control" required id="type" name="type" ngModel #typeField="ngModel">
          <option value="magic">Magic</option>
          <option value="muggle">Muggle</option>
        </select>
        <div *ngIf="typeField.invalid && (typeField.dirty || typeField.touched)" class="alert">
          Type field is required
        </div>
      </div>
      <div class="form-group">
        <label>Category</label>
        <select class="form-control" required id="category" name="category" ngModel #categoryField="ngModel">
          <option value="characters">Characters</option>
          <option value="places">Places</option>
          <option value="magic">Magic</option>
          <option value="events">Events</option>
          <option value="items">Items</option>
          <option value="creatures">Creatures</option>
        </select>
        <div *ngIf="categoryField.invalid && (categoryField.dirty || categoryField.touched)" class="alert">
          Category field is required
        </div>
      </div>
      <div class="form-group">
        <label>Book</label>
        <select class="form-control" required id="book" name="book" ngModel #bookField="ngModel">
          <option value="1">Sorcerer's Stone</option>
          <option value="2">Chamber of Secrets</option>
          <option value="3">Prisoner of Azkaban</option>
          <option value="4">Goblet fo Fire</option>
          <option value="5">Order of the Phoenix</option>
          <option value="6">Half-Blood Prince</option>
          <option value="7">Deathly Hallows</option>
        </select>
        <div *ngIf="bookField.invalid && (bookField.dirty || bookField.touched)" class="alert">
          Book field is required
        </div>
      </div>
      <div class="form-group">
        <label>Page</label>
        <input class="form-control" required type="text" name="page" ngModel #pageField="ngModel">
        <div *ngIf="pageField.invalid && (pageField.dirty || pageField.touched)" class="alert">
          Page field is required
        </div>
      </div>
      <div class="form-group">
        <label>Topic</label>
        <input class="form-control" type="text" name="topic" ngModel>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!questionForm.form.valid">Submit</button>
    </form>
  </div>
</div>
